<!-- Loging Page -->
<!-- This page needs to have authentification to the form  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/styles.css">
    
  </head>
  <body>
      <div class="container">
        <div class="left">
            <h1 align="center">Chit. Chat. Connect.</h1>
            <img src="../public/assets/img/logo_transparent.png" alt="logo_transparent.png">
            <p align="center">Placeholder text</p>
            <!-- <hr class="one"></hr>
            <hr class="two"></hr> -->


        </div>
        <div class="right">
            <h1>Log In</h1>
            <div class="box">
                <form>
                    <p>Username :</p>
                    <input type="text" name="" placeholder="Username" required="required">
                    <p>Password :</p>
                    <input type="password" name="" placeholder="********" required="required">
                    <button class="btn">LOGIN</button>
                    <p>
                    <a href="#">Forgot Your Password?</a>
                </form>
            </div>
        </div>
     </div>
  </body>
</html>
